- namespace = local_assigns.fetch(:namespace)
- minutes_quota = namespace.ci_minutes_quota
- minutes_quota_presenter = Ci::Minutes::QuotaPresenter.new(minutes_quota)

- if minutes_quota_presenter.display_shared_runners_data?
  %li
    %span.light= _('Quota of CI/CD minutes:')
    %strong
      = ci_minutes_report(minutes_quota_presenter.monthly_minutes_report)
      = link_to sprite_icon('question-o'), help_page_path('ci/pipelines/cicd_minutes'), target: '_blank'
